
li {
    list-style-type: none;
}
.centro {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
}
    .right {
        position: absolute;
        width: 70%;
        height: 170%;
        right: 0;
        top: -110px;
    }
    .menu {
        display: flex;
        height: 175%;
        width: 30%;  
        border-right: 2px solid black;
        z-index: 1;
    }
    .menu menu {
        width: 100%;
        height: 188.8px;
        padding: 0;
        margin: 0px;
    }
    .menu button {
        width: 100%;
        padding: 10px 0;
        transition: background-color .2s ease-in-out,
                    font-weight .2s ease-in-out;
        border-left-style: none;
        border-right-style: none;
    }
    .menu button:hover{
        cursor: pointer;
        background-color: grey;
        font-weight: bold;
    }

.imagen {
    width: 200px;
    height: 100px;
}

.active {
    background-color: grey;
    font-weight: bold;
}
    /* display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 180%;
    width: 70%;     */
    