<header>
  Información del Pedido: Ingresa los detalles necesarios para procesar tu
  pedido
</header>
<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-flex" role="search">
        <button
          type="button"
          class="btn btn-primary"
          (click)="showAndAddProducts()"
        >
          <app-icons-svg [nombreIcono]="'addOrder'" />
        </button>

        <button class="btn btn-info colorFont" (click)="showSelectedProducts()">
          <app-icons-svg [nombreIcono]="'table'" />
        </button>

        <button class="btn btn-info" (click)="showClients()">
          <app-icons-svg [nombreIcono]="'person'" />
        </button>
      </div>
    </div>
  </nav>
</div>

<div>
  <form [formGroup]="labelCliente">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-valid': labelCliente.get('product')?.valid }"
            id="product"
            formControlName="product"
          />
          <label for="product">Nombre del producto:</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            [ngClass]="{ 'is-valid': labelCliente.get('price')?.valid }"
            id="price"
            formControlName="price"
          />
          <label for="price">Precio:</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid': labelCliente.get('stock')?.value > stock,
              'is-valid': labelCliente.get('stock')?.valid
            }"
            id="stock"
            (keydown.Enter)="actualizarProducto()"
            required
            formControlName="stock"
          />
          <label for="stock">Cantidad a Vender:</label>

          @if (stockModificado &&
          labelCliente.get('stock')?.hasError('stockExceeded')) {

          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            La cantidad ingresada a vender supera la disponibilidad
          </div>
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="address"
            [ngClass]="{ 'is-valid': labelCliente.get('address')?.valid }"
            id="stock"
            required
            formControlName="address"
          />
          <label for="stock">Dirección:</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': clienteEncontrado,
              
              }"
            id="client"
            required
            formControlName="client"
            (keydown.enter)="buscarCliente()"
          />
          <label for="client">Cliente:</label>
        </div>
      </div>

      <div class="col-md-6">
        <select
          class="form-select"
          id="paymentType"
          [ngClass]="{ 'is-valid': labelCliente.get('paymentType')?.value }"
          aria-label="Default select example"
          formControlName="paymentType"
        >
          <option value="" disabled selected>
            Seleccione una Forma de Pago
          </option>
          @for (formaPago of formasDePago; track $index) {
          <option value="{{ formaPago.formaPagoID }}">
            {{ formaPago.descrip }}
          </option>
          }
        </select>
        @if (this.labelCliente.get('paymentType')?.invalid &&
        this.labelCliente.get('paymentType')?.touched) {
        <div class="text-danger">Debe seleccionar una forma de pago.</div>
        }
      </div>

      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-floating">
            @if (productoAgregadoToForm) {
            <div class="form-floating">
              <button
                class="btn btn-success mt-3"
                (click)="actualizarProducto()"
              >
                Actualizar producto
              </button>
            </div>
            } @else {
            <div class="form-floating">
              <button class="btn btn-success mt-3">Actualizar producto</button>
            </div>
            }
          </div>
        </div> -->
      </div>
    </div>

    <button
      class="btn btn-success mt-1"
      (click)="showModal()"
      [disabled]="
        (stockModificado &&
          labelCliente.get('stock')?.hasError('stockExceeded'))
      "
    >
      Confirmar pedido
    </button>
  </form>
</div>



<!-- Modal -->
<div class="modal fade" id="productosModal" tabindex="-1" aria-labelledby="productosModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="productosModalLabel">Productos en el Pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container mt-4">
          <!-- Información del Cliente -->
          <div class="card">
            <div class="card-header bg-primary text-white">
              Información del Pedido
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h5 class="card-title">Datos del Cliente</h5>
                  <p class="card-text"><strong>Nombre:</strong> {{ clienteSeleccionado?.name }} {{clienteSeleccionado?.lastName}}</p>
                  <p class="card-text">
                    <strong>Correo:</strong> {{clienteSeleccionado?.email}}
                  </p>
                  <p class="card-text"><strong>Teléfono:</strong> {{clienteSeleccionado?.phoneNumber}}</p>
                </div>
                <div class="col-md-6">
                  <h5 class="card-title">Datos del Pedido</h5>
                  <p class="card-text"><strong>Número de Pedido:</strong> 000123</p>
                  <p class="card-text"><strong>Fecha:</strong> {{fechaActual}}</p>
                  <p class="card-text"><strong>Estado:</strong> Pendiente</p>
                </div>
              </div>
            </div>
          </div>
      
          <!-- Productos Seleccionados -->
          <div class="card mt-4">
            <div class="card-header bg-success text-white">
              Productos en el Pedido
            </div>
            <div class="card-body">
              <div class="table-responsive overflow-y-auto">
                <table class="table table-bordered table-hover">
                  <thead class="thead-light">
                    <tr>
                      <th>Producto</th>
                      <th>Cantidad</th>
                      <th>Precio Unitario</th>
                      <th>Subtotal</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (producto of selectedProducts; track $index) {
                      <tr>
                        <td>{{ producto.product }}</td>
                        <td> {{ producto.stock }}</td>
                        <td>{{ producto.price }}</td>
                        <td>{{ producto.price }}</td>
                      </tr>              
                    }
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="3" class="text-right">Total:</th>
                      <th>{{ getTotal() | currency}}</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button class="btn btn-success mr-2" (click)="sendPedido()" >Aprobar Pedido</button>
        <button class="btn btn-danger" (click)="closeModal()">Cancelar Pedido</button>
      </div>
    </div>
  </div>
</div>
