<header>
  Información del Pedido: Ingresa los detalles necesarios para procesar tu
  pedido
</header>
<div>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class="d-flex" role="search">
        <button
          type="button"
          class="btn btn-primary"
          (click)="showAndAddProducts()"
        >
          <app-icons-svg [nombreIcono]="'addOrder'" />
        </button>

        <button class="btn btn-info colorFont" (click)="showSelectedProducts()">
          <app-icons-svg [nombreIcono]="'table'" />
        </button>

        <button class="btn btn-info" (click)="showClients()">
          <app-icons-svg [nombreIcono]="'person'" />
        </button>
      </div>
    </div>
  </nav>
</div>

<div>
  <form [formGroup]="labelCliente">
    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [ngClass]="{ 'is-valid': labelCliente.get('stock')?.valid }"
            id="product"
            formControlName="product"
          />
          <label for="product">Nombre del producto:</label>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            [ngClass]="{ 'is-valid': labelCliente.get('stock')?.valid }"
            id="price"
            formControlName="price"
          />
          <label for="price">Precio:</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid': labelCliente.get('stock')?.value > stock,
              'is-valid': labelCliente.get('stock')?.valid
            }"
            id="stock"
            (keydown.Enter)="actualizarProducto()"
            required
            formControlName="stock"
          />
          <label for="stock">Cantidad a Vender:</label>

          @if (stockModificado &&
          labelCliente.get('stock')?.hasError('stockExceeded')) {

          <div id="validationServerUsernameFeedback" class="invalid-feedback">
            La cantidad ingresada a vender supera la disponibilidad
          </div>
          }
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="address"
            [ngClass]="{ 'is-valid': labelCliente.get('address')?.valid }"
            id="stock"
            required
            formControlName="address"
          />
          <label for="stock">Dirección:</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            [ngClass]="{
              'is-valid': clienteEncontrado,
              
              }"
            id="client"
            required
            formControlName="client"
            (keydown.enter)="buscarCliente()"
          />
          <label for="client">Cliente:</label>
        </div>
      </div>

      <div class="col-md-6">
        <select
          class="form-select"
          id="paymentType"
          [ngClass]="{ 'is-valid': labelCliente.get('paymentType')?.value }"
          aria-label="Default select example"
          formControlName="paymentType"
        >
          <option value="" disabled selected>
            Seleccione una Forma de Pago
          </option>
          @for (formaPago of formasDePago; track $index) {
          <option value="{{ formaPago.formaPagoID }}">
            {{ formaPago.descrip }}
          </option>
          }
        </select>
        @if (this.labelCliente.get('paymentType')?.invalid &&
        this.labelCliente.get('paymentType')?.touched) {
        <div class="text-danger">Debe seleccionar una forma de pago.</div>
        }
      </div>

      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-floating">
            @if (productoAgregadoToForm) {
            <div class="form-floating">
              <button
                class="btn btn-success mt-3"
                (click)="actualizarProducto()"
              >
                Actualizar producto
              </button>
            </div>
            } @else {
            <div class="form-floating">
              <button class="btn btn-success mt-3">Actualizar producto</button>
            </div>
            }
          </div>
        </div> -->
      </div>
    </div>

    <button
      class="btn btn-success mt-1"
      (click)="sendPedido()"
      [disabled]="
        labelCliente.invalid ||
        (stockModificado &&
          labelCliente.get('stock')?.hasError('stockExceeded'))
      "
    >
      Confirmar pedido
    </button>
  </form>
</div>
