<header>Agregar nuevo cliente</header>
<form [formGroup]="newClient" (ngSubmit)="addCliente()">
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="nombre"
          formControlName="name"
          [ngClass]="{
            'is-valid':
              newClient.get('name')?.valid && newClient.get('name')?.touched,
            'is-invalid':
              newClient.get('name')?.invalid && newClient.get('name')?.touched
          }"
        />
        <label for="nombre">Nombre del cliente:</label>
        @if (newClient.get('name')?.invalid && newClient.get('name')?.touched) {<div class="invalid-feedback">El Nombre es Requerido</div>}        
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="apellido"
          formControlName="lastName"
          [ngClass]="{
            'is-valid':
              newClient.get('lastName')?.valid && newClient.get('lastName')?.touched,
            'is-invalid':
              newClient.get('lastName')?.invalid && newClient.get('lastName')?.touched
          }"
        />
        <label for="apellido">Apellido:</label>
        @if (newClient.get('name')?.invalid && newClient.get('name')?.touched) {<div class="invalid-feedback">Apellido es requerido</div>}
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="direccion"
          formControlName="address"
        />
        <label for="direccion">Dirección:</label>
        <div class="invalid-feedback">Dirección es requerida</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          [ngClass]="{
            'is-valid': newClient.get('email')?.valid && newClient.get('email')?.dirty && newClient.get('email')?.value,
            'is-invalid': newClient.get('email')?.invalid && (newClient.get('email')?.dirty || newClient.get('email')?.touched)
          }"
          formControlName="email"
        />
        <label for="email">Email:</label>
        @if (newClient.get('email')?.invalid && (newClient.get('email')?.dirty || newClient.get('email')?.touched)) {<div class="invalid-feedback">El texto ingresado no es un correo electrónico válido.</div>}        
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="telefono"
          formControlName="phoneNumber"
        />
        <label for="telefono">Teléfono:</label>
        <div class="invalid-feedback">Email es requerido</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-floating">
        <select class="form-select" id="sexo" formControlName="gender">
          <option value="Masculino">Masculino</option>
          <option value="Femenino">Femenino</option>
          <option value="Otro">Otro</option>
        </select>
        <label for="sexo">Sexo:</label>
        <div class="invalid-feedback">Sexo es requerido</div>
      </div>
    </div>
  </div>
  <button class="btn btn-success" [disabled]="newClient.invalid">
    Agregar cliente
  </button>
</form>

