form {
    display: grid;
    padding: 48px 40px 40px;
    row-gap: 25px;
    font-weight: bold;
}
header {
    padding: 15px;
    border-bottom: 2px solid black;
    font-weight: bold;
    background-color: lightgray;
}