header {
    display: flex;
    column-gap: 5px;
    padding: 15px;
    border-bottom: 2px solid black;
    font-weight: bold;
    background-color: lightgray;
}

p {
    color: goldenrod;
    margin: 0;
    padding: 0;
}
label{
    font-weight: bolder;
}
form {
    display: grid;
    padding: 48px 40px 40px;
    row-gap: 25px;
}
