form{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    row-gap: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
form img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}
form input {
    border:2px solid black;
    width: 300px;
    padding: 3px 8px;
    text-align: center;
    scale: 1;
    transition: scale .3s ease-in-out;
}
form input:focus{
    scale: 1.05;
}
form button {
    background-size: 200% 100%;
    padding: 3px 12px;
    font-size: 15px;
    box-shadow: 3px 2px black;
    transition: background-position 0.5s;
}
form button:hover{
    cursor: pointer;
}
.invalid-feedback {
    margin: 0;
    margin-top: -25px;
}

p {
    margin-top: 10px;
    font-weight: bold;
}